<div class="mt-3"></div>
<div class="container border-primary">
  <div class="card text-center">
    <div class="card-header text-primary text-center">
      <h1 class="card-header">
        {{ titulo }}
      </h1>
    </div>
    <div class="card-body text-primary">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>idEvento</td>
            <td>nombreEvento</td>
            <td>descripcionEvento</td>
            <td>fechaCreacion</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ev of listaDeEventos">
            <td>{{ ev.idAsistente }}</td>
            <td>{{ ev.nombre }}</td>
            <td>{{ ev.paterno }}</td>
            <td>{{ ev.idEvento.descripcionEvento }}</td>
            <td></td>
            <td>
              <a routerLink="/asistentesForm/{{ev.idAsistente}}" class="btn btn-outline-success"> Actualizar </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
